/* 
 *  hpupload css  @隐无为   mysad    base to webUpload css 
 *  version:1.0
 */
.hp-upload-div {
	border: 3px dashed #00B7EE;
	color: #838383;
	font-size: 12px;
	margin-top: 10px;
	background-color: #FFF;
	width: 100%;
	height: 420px;
	overflow: auto;
}

.hp-upload-div-img {
    width: 128px;
	height: 128px;
	margin:0 auto;
	background: url(../img/upload.png) no-repeat;
	margin-top: 128px;
	 /* 
	width: 128px;
	height: 128px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 128px 0 0 0;
	background: url(../img/upload.png) no-repeat;*/
}

.hp-upload-div .kdfile {
	position: relative;
}

.hp-upload-div-kdUploadAdd {
	margin-top: 20px;
	width: 100px;
	height: 80px;
	background: url(../img/image.png) no-repeat;
	width: 100px;
}

.hp-upload-div-removeUploadBtnDiv-img {
	position: absolute;
	padding-right: 2px;
	padding-top: 2px;
}

.hp-upload-div-removeUploadBtnDiv-btn {
	position: absolute;
	height: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 110px;
	overflow: hidden;
	z-index: 300;
}

.hp-upload-div-start-btn {
	width: 110px;
	background: url(../img/upload.png) no-repeat;
	background-size: 80% 70%;
	height: 110px;
	margin-top: 8px;
}

.hp-upload-div-removeUploadBtnDiv-btn span.remove {
	width: 24px;
	height: 24px;
	display: inline;
	float: right;
	text-indent: -9999px;
	background: url(../img/icons.png) no-repeat;
	background: url(../img/icons.gif) no-repeat \9;
	/*  margin: 5px 1px 1px; */
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-position: -48px -18px
}

.hp-upload-div-removeUploadBtnDiv-btn-success {
	position: absolute;
	height: 110px;
	width: 110px;
	z-index: 300;
}

.hp-upload-div-removeUploadBtnDiv-btn-success span.success {
	height: 100%;
	width: 100%;
	display: inline;
	float: right;
	text-indent: -9999px;
	background: url(../img/success.png) no-repeat right bottom;
}

.hp-upload-div-removeUploadBtnDiv-btn span.remove:hover {
	background-position: -48px 6px;
}